/* estilo general del cuerpo */

html{

    font-size: 62,5%;
    word-spacing: 0.3em;
    letter-spacing: 0.03em;
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
    font-family: $main-font-family;
    background-color: rgba(250, 249, 249, 0.965);
    margin: 0 0.5rem;
    padding: 0 1rem;
    width: 100%;
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-rows: auto auto auto;
    grid-template-columns: 2fr 1fr;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-content: stretch;
}

.section    {
    padding-top: 1.5rem;
    border-top: black;
    border-top-width: 0;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-style: solid;
    box-sizing: border-box;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    grid-area: main;
  
}



iframe {

    width: 18vw;
    height: 18vh;
    min-height: 15rem;
    min-width: 12vw;
    margin-top: 0.6rem;
    margin-left: 0.6rem;
    border-radius: 3px;
    float: right;
}

// RESPONSIVE

@media only screen and (max-width: 1400px){

    body {

        grid-template-areas: "header"
        "main"
        "aside"
        "footer";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        justify-content: stretch;
    }
    iframe {
        width: 28vw;
    }

}

@media only screen and (max-width: 991px){
    body {
        grid-template-areas: "header"
        "main"
        "aside"
        "footer";
        grid-template-columns: none;
        grid-template-rows: 18.2rem auto auto auto;
        margin: 0 !important;
    }
}

@media only screen and (max-width: 767px){
    
    main{
    display: initial !important; 
    overflow-x: auto;
    }

    .indexImage2{
        height: 30vh;
    }
    
    
    iframe {

        width: 96%;
        height: 30vh;
        float: none;
    }

}